#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_install:
	$(MAKE) DESTDIR=debian/fuse-overlayfs install-binPROGRAMS

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --buildsystem=autoconf
